.DS_Store
node_modules
build
.svelte-kit
dist
.env
.env.*
!.env.example
.svelte.config.js
.pnpm-debug.log
.vscode
pnpm-lock.yaml
**/sveltekit-zero-api.d.ts

src
static
svelte.config.js
vite.config.ts
assign-var.gif
frontend-intellisense.gif
SvelteKit Zero API.png